<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <h1>Update User Details</h1>
        <label>NAME:</label>
        <input type="text" name="name" value="{{datas.NAME}}"  required>
        <label>AGE</label>
        <input type="text" name="age" value="{{datas.AGE}}" required>
        <label>CITY</label>
        <input type="text" name="city" value="{{datas.CITY}}" required>
        <input type="submit" value="Update Details">
    </form>
</body>
</html>